
body{
font-family:Arial;
background:#111;
color:#fff;
padding:40px;
}

.login-box{
width:300px;
margin:auto;
background:#1a1a1a;
padding:30px;
border-radius:10px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}

table{
width:100%;
margin-top:30px;
border-collapse:collapse;
}

th,td{
padding:10px;
border-bottom:1px solid #333;
}

.painel{
max-width:900px;
margin:auto;
}
